:root {
    --bg-color: #f9f4eb;
    --bg-header: #fb5;

    --cor-texto: #222;
    --cor-subtitulo: #e54;

    --dec-subtitulo: #fb5;

    --font-mono: 'IBM Plex Mono', monospace;
    --font-titulo: 'Playfair Display SC', Georgia, serif;
    --font-texto: Helvetica, Arial, sans-serif;
}

body, h1, h2, p, ul, li, dd, dt, dl {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

body {
    -webkit-smoothing: antialiased;
    background-color: var(--bg-color);
    color: var(--cor-texto);
}

@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }
}