.titulo {
    grid-column: 1 / -1;
    font-size: 6rem;
    font-family: var(--font-titulo);
    line-height: 1;
    margin-bottom: 40px;
    padding: 10px;
    font-weight: 400;
}

.grid-section {
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    box-sizing: border-box;
    grid-column: 2 / 4;
    padding: 10px;
    gap: 20px;
}

.js [data-anima="scroll"] {
    opacity: 0;
    transition: .3s;
    transform: translate3d(-30px, 0, 0);
}

.js [data-anima="scroll"].ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.animais h2 {
    font-family: var(--font-mono);
    color: var(--cor-subtitulo);
    letter-spacing: .1em;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.animais h2::before {
    content: '';
    width: 40px;
    height: 10px;
    background-color: var(--bg-header);
    display: inline-block;
    margin-right: 10px;
}

.animais p {
    font-family: var(--font-texto);
    line-height: 1.4;
    margin-bottom: 1rem;
}

.grid-section .animais-galeria {
    grid-column: 2;
    overflow-y: scroll;
    height: 370px;
    cursor: pointer;
}

.animais-galeria::-webkit-scrollbar {
    width: 16px;
}

.animais-galeria::-webkit-scrollbar-track {
    background-color: transparent;
    
}

.animais-galeria::-webkit-scrollbar-thumb {
    background-color: var(--bg-header);
    border-left: 4px solid var(--bg-color);
    border-right: 4px solid var(--bg-color);
}

.grid-section .animais-conteudo {
    grid-column: 3;
}

.js [data-animais="conteudo"] section {
    display: none;
}

.js [data-anime="show-down"].ativo {
    display: block;
    animation: showDown .6s forwards;
}

.js [data-anime="show-right"].ativo {
    display: block;
    animation: showRight .6s forwards;
}

@keyframes showDown {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    } 
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showRight {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    } 
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.faq-lista {
    grid-column: 2 / -1;
}

.faq-lista dt {
    font-family: var(--font-mono);
    color: var(--cor-subtitulo);
    letter-spacing: .1em;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.faq-lista dt::before {
    content: '';
    width: 20px;
    height: 10px;
    background-color: var(--bg-header);
    display: inline-block;
    margin-right: 10px;
}

.faq-lista dt::after {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--cor-subtitulo);
    margin-left: 10px;
    animation: rodarSetinhaDown .3s forwards;
}

.js .faq-lista dt.ativo::after {
    animation: rodarSetinhaUp .3s forwards;
}

@keyframes rodarSetinhaUp {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg)
    }
}

@keyframes rodarSetinhaDown {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0)
    }
}

.faq-lista dd {
    margin-bottom: 20px;
    font-family: var(--font-texto);
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-left: 30px;
}

.js [data-anima="accordion"] dd {
    display: none;
}

.js [data-anima="accordion"] dd.ativo {
    display: block;
    animation: aparecerSuavemente .5s forwards;
}

@keyframes aparecerSuavemente {
    from {
        opacity: 0;
        max-height: 0px;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}

.contato .mapa {
    grid-column: 2;
}

.contato-info {
    margin-bottom: 20px;
    font-family: var(--font-texto);
    line-height: 2;
}

.contato-info li::before {
    content: '';
    width: 20px;
    height: 10px;
    background-color: var(--bg-header);
    display: inline-block;
    margin-right: 10px;
}

.contato-info a {
    color: var(--cor-texto);
}

.copy {
    grid-column: 3 / -1;
    padding: 10px;
    background-color: var(--bg-header);
    margin-top: 40px;
}

.copy p {
    padding: 10px;
    color: var(--cor-texto);
    font-family: var(--font-mono);
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: .875rem;
}

.copy span {
    padding: 10px;
}

.copy span a {
    color: var(--cor-texto);
}

@media (max-width: 800px) {
    .grid-section, .copy {
        grid-column: 1;
    }

    .grid-section .titulo {
        grid-column: 1 / -1;
        font-size: 3rem;
    }

    .animais {
        grid-template-columns: 120px 1fr;
        gap: 10px;
    }

    .animais-galeria {
        grid-column: 1 !important;
        min-width: 120px;
    }

    .animais-conteudo {
        grid-column: 2;
    }

    .contato {
        grid-template-columns: 1fr;
    }

    .contato .mapa {
        grid-column: 1;
    }
}